body {
    background-image: url(../img/fitness.jpg);
    background-position: center;
}

.container {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 50px;
}

h1 {
    -webkit-text-stroke: 1px black;
    color: rgb(255, 255, 255);
    text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
}

.main-content {
    display: flex;
    justify-content: center;
}

/* Login Card */
.login-card {
    background: rgba(255, 255, 255, 0.1); /* translucent white */
    backdrop-filter: blur(50px); /* applies blur effect */
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    color: white;
    width: 500px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-header {
    font-size: 40px;
}

/* Form Styling */
form{
    gap: 1rem;
    font-size: 20px;
    width:90%;
    padding:3vw;
    display:flex;
    flex-direction:column;
}

label{
    margin-bottom:5px;
    position:relative;
    border-bottom:1px solid #ddd;
}

input{
    width:100%;
    padding:10px 0px;
    margin-top:20px;
    border:none;
    outline:none;
    opacity: 1;
    background: transparent;
    color: white; 
    border-bottom: 1px solid #ccc;
}

input::placeholder{
    color: transparent;
}

span{
    position:absolute;
    top: 0px;
    left:0px;
    transform:translateY(30px);
    font-size:0.825em;
    transition-duration:300ms;
}

label:focus-within > span,
input:not(:placeholder-shown) + span{
    color:rgba(255, 255, 255, 0.712);
    transform:translateY(0px);
}

/* Button */
button{
    padding:15px 0px; 
    margin-top:20px;
    background:rgb(71, 70, 71);
    color:#fff;
    border:1px solid rgb(233, 228, 233);
    cursor:pointer;
    border-radius:3px;
}